In [4]:
import pandas as pd   
         
lst = [['tom', 'reacher', 25], ['krish', 'pete', 30],  
       ['nick', 'wilson', 26], ['juli', 'williams', 22]]  
      
df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'], 
                                           dtype = int)

C:\Users\Mind-Graph\AppData\Local\Temp\ipykernel_23040\817368715.py:6: FutureWarning: Could not cast to int32, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'],

In [5]:
df

   FName     LName  Age
0    tom   reacher   25
1  krish      pete   30
2   nick    wilson   26
3   juli  williams   22

In [7]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Marks':[20, 21, 19]} 
 
df1 = pd.DataFrame(data)

In [9]:
df1

  Category  Marks
0    Array     20
1    Stack     21
2    Queue     19

In [11]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]} 
  
df3 = pd.DataFrame(data)

In [12]:
df3

  Category  Student_1  Student_2
0    Array         20         15
1    Stack         21         20
2    Queue         19         14

In [13]:
df3.transpose()

               0      1      2
Category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [16]:
if (Runway=="free"):
    print("Land")
elif (Fuel_Status=="low"):
     print("Emergency landing")
else:
     print("Circle in the air")

NameError: name 'Runway' is not defined

In [22]:
import turtle # allows us to use the turtles library

wn = turtle.Screen() # creates a graphics window
wn.setup(400,400) # set window dimension

circle_rad=50 
set the radius;
rectangle_width=150 
set the width;
rectangle_height=80 
set the height;

alex = turtle.Turtle() # create a turtle named alex
alex.shape("turtle") # alex looks like a turtle
alex.color('red') # alex has a color
alex.circle(circle_rad)
alex.backward(rectangle_width/2)
alex.forward(rectangle_width)
alex.right(90)
alex.forward(rectangle_height)
alex.right(90)
alex.forward(rectangle_width)
alex.right(90)
alex.forward(rectangle_height)

SyntaxError: invalid syntax (928407554.py, line 7)

In [24]:
num1 = 10
num2 = 5
num2 *= num1
print(num2)

50

In [25]:
num1 = 50
num2 = 2
num3 = 3
num4 = 8
result = num1/num4-num3*num2+num4

In [26]:
result

8.25

In [27]:
# Input the radius from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate the area using the formula
area = 3.14 * radius * radius

# Display the result
print(f"The area of the circle with radius {radius} is: {area}")

Enter the radius of the circle: 5
The area of the circle with radius 5.0 is: 78.5

In [28]:
# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Main program
while True:
    print("Temperature Conversion Menu:")
    print("1. Celsius to Fahrenheit")
    print("2. Fahrenheit to Celsius")
    print("3. Quit")
    
    choice = int(input("Enter your choice (1/2/3): "))
    
    if choice == 1:
        celsius = float(input("Enter temperature in Celsius: "))
        fahrenheit = celsius_to_fahrenheit(celsius)
        print(f"{celsius}°C is equal to {fahrenheit}°F\n")
    elif choice == 2:
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        celsius = fahrenheit_to_celsius(fahrenheit)
        print(f"{fahrenheit}°F is equal to {celsius}°C\n")
    elif choice == 3:
        print("Exiting the program.")
        break
    else:
        print("Invalid choice. Please enter 1, 2, or 3.\n")

Temperature Conversion Menu:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Quit
Enter your choice (1/2/3): 1
Enter temperature in Celsius: 34
34.0°C is equal to 93.2°F

Temperature Conversion Menu:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Quit
Enter your choice (1/2/3): 32
Invalid choice. Please enter 1, 2, or 3.

Temperature Conversion Menu:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Quit
Enter your choice (1/2/3): 67
Invalid choice. Please enter 1, 2, or 3.

Temperature Conversion Menu:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Quit
Enter your choice (1/2/3): 3
Exiting the program.

In [29]:
num1=100
num2=200
num3=6
if(5>=num3):
    if(num1>100 or num2>150):
        print("1")
elif(num1>=100 and num2>150):
    print("2")
else:
    print("3")

2

In [30]:
if((num1/num2==5) and (num1+num2)>5):
    print("1")
elif((num1-num2)<=1 or (num1%num2)==0):
    print("2")
else:
    print("3")

2

In [31]:
a = -10
b = -200
c = 2000
d = 4000
if( a*b >=d):
    if(d>c):
        if(d%c!=0):
            print(11)
        else:
            print(22)
else:
    if(b/a >0):
        if(a<b or d%c!=0):
          print(33)
        else:
          print(44)

44

In [42]:
for variable_1 in range(1,5,-1):
    print("executed")

In [43]:
grade_list = ["A+","A-","B","B+","A+","A+","A-"]
for grade in grade_list:
    if grade == "A+":
        print("TPF")
    else:
        print("Not TPF")

TPF
Not TPF
Not TPF
Not TPF
TPF
TPF
Not TPF

In [44]:
number=28
for num in range(25,30):
    if(number>num):
        print(num)
    else:
        print(num)
        break

25
26
27
28

In [45]:
for num in 23, 45, 50, 65, 76, 90:
    if(num%5!=0):
        continue
    if(num%10==0):
        print(num, end=" ")
        continue
    if(num%3==0):
        print(num, end=" ")

45 50 90

In [46]:
for number in 10,15:
    for counter in range(1,3):
        print(number*counter, end=" ")

10 20 15 30

In [47]:
num1=?
num2=?
while(num1>=2):
    if(num1>num2):
        num1=num1/2
    else:
        print(num1)
        break

SyntaxError: invalid syntax (682529965.py, line 1)

In [48]:
numbers_list = [98,45,60,71,90]
count = 10
for number in numbers_list:
    if number % 10 == 0:
        count -= 1
        continue
    counter = 0
    while counter < 2:
        last_digit = number % 10
        number = number // 10
        if last_digit > 4:
            count += 1
            break
        count += 1
        counter += 1
print(count)

12

In [33]:
data=pd.read_excel("C:\\Users\\Mind-Graph\\Downloads\Sample - Superstore.xlsx")

In [37]:
data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [38]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

# 1st test case

In [40]:
filtered_df = data[data['Postal Code'] == 42420]

In [55]:
filtered_df['Postal Code'].count()

48

In [49]:
filtered_df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
538,539,CA-2015-134894,12/7/2015,12/11/2015,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,OFF-AP-10001271,Office Supplies,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.94,3,0.0,41.2938
539,540,CA-2015-134894,12/7/2015,12/11/2015,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,FUR-CH-10002647,Furniture,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.92,4,0.0,70.9800
996,997,CA-2015-162537,10/28/2015,11/3/2015,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-EN-10003862,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.67,1,0.0,4.9082
997,998,CA-2015-162537,10/28/2015,11/3/2015,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-ST-10004258,Office Supplies,Storage,Portable Personal File Box,36.63,3,0.0,9.8901
998,999,CA-2015-162537,10/28/2015,11/3/2015,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,FUR-FU-10002885,Furniture,Furnishings,Magna Visual Magnetic Picture Hangers,24.10,5,0.0,9.1580
999,1000,CA-2015-162537,10/28/2015,11/3/2015,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,FUR-FU-10001918,Furniture,Furnishings,C-Line Cubicle Keepers Polyproplyene Holder Wi...,33.11,7,0.0,12.9129
2321,2322,CA-2015-109470,12/31/2015,1/3/2016,Second Class,KC-16255,Karen Carlisle,Corporate,United States,Henderson,...,42420,South,OFF-BI-10004492,Office Supplies,Binders,Tuf-Vin Binders,94.74,3,0.0,44.5278
2322,2323,CA-2015-109470,12/31/2015,1/3/2016,Second Class,KC-16255,Karen Carlisle,Corporate,United States,Henderson,...,42420,South,OFF-BI-10001072,Office Supplies,Binders,"GBC Clear Cover, 8-1/2 x 11, unpunched, 25 cov...",60.64,4,0.0,27.8944

# 2nd test case

In [56]:
selected_columns_df = df[['Ship Date', 'Order Date']]

In [58]:
selected_columns_df['Ship Date'].count()

9994

In [59]:
selected_columns_df['Order Date'].count()

9994

In [57]:
selected_columns_df.head(10)

    Ship Date  Order Date
0  11/11/2016   11/8/2016
1  11/11/2016   11/8/2016
2   6/16/2016   6/12/2016
3  10/18/2015  10/11/2015
4  10/18/2015  10/11/2015
5   6/14/2014    6/9/2014
6   6/14/2014    6/9/2014
7   6/14/2014    6/9/2014
8   6/14/2014    6/9/2014
9   6/14/2014    6/9/2014

In [73]:
Data=pd.read_excel("C:\\Users\\Mind-Graph\\Downloads\Sample - Superstore.xlsx")

In [97]:
b['Postal Code'].count()

48

In [93]:
Data['Postal Code'].count()

9994

In [116]:
df = Data['Postal Code'].apply(filtered_df)

In [122]:
filtered_df(42421)

42421

In [135]:
def my_function(a,b):
    c=a+b
    return c

In [136]:
my_function(a,b)

8

In [173]:
Data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [239]:
def My_function(Data):
    return Data
def Filtered_df(Data):
    Filtered_df = Data[Data['Postal Code'] == 42420]
    return Filtered_df
def selected_columns_df(Data):
    selected_columns_df = Data[['Ship Date', 'Order Date']]
    return selected_columns_df
def rename_a(Data):
    rename_a=Data.rename(columns={'Order no': 'Order num'})
    return rename_a
def my_function_mean(Data):
    my_function_mean=Data['Sales'].mean()
    return my_function_mean

In [240]:
def combined_functions(Data):
    # Call each function in the desired order
    result1 = Filtered_df(Data)
    #result2 = selected_columns_df(result1)
    result3 = rename_a(result1)
    #result4 = my_function_mean(result3)
    
    return result3

In [241]:
combined_functions(Data).head(5)

,Row ID,Order num,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
538,539,CA-2015-134894,12/7/2015,12/11/2015,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,OFF-AP-10001271,Office Supplies,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.94,3,0.0,41.2938
539,540,CA-2015-134894,12/7/2015,12/11/2015,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,FUR-CH-10002647,Furniture,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.92,4,0.0,70.9800
996,997,CA-2015-162537,10/28/2015,11/3/2015,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-EN-10003862,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.67,1,0.0,4.9082

In [ ]:
my_function_mean(Data)

In [ ]:
rename_a(Data)

In [ ]:
My_function(Data)

In [ ]:
selected_columns_df(Data).head(5)

In [169]:
Filtered_df(Data).head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
538,539,CA-2015-134894,12/7/2015,12/11/2015,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,OFF-AP-10001271,Office Supplies,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.94,3,0.0,41.2938
539,540,CA-2015-134894,12/7/2015,12/11/2015,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,FUR-CH-10002647,Furniture,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.92,4,0.0,70.9800
996,997,CA-2015-162537,10/28/2015,11/3/2015,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-EN-10003862,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.67,1,0.0,4.9082

In [151]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [30, 25, 28],
    'Postal Code': [42420, 12345, 67890]
}

df = pd.DataFrame(data)

# Define a function to filter the DataFrame based on a condition
def filtered_df(data_frame):
    filtered_data = data_frame[data_frame['Postal Code'] == 42420]
    return filtered_data

# Call the function to filter the DataFrame
filtered_result = filtered_df(df)

# Display the filtered DataFrame
print(filtered_result)

   Name  Age  Postal Code
0  John   30        42420